body
{
  font-family: 'Reem Kufi', sans-serif;
  display: block;
  background-image: url("abudhabiskyline.png");
}

.headings
{
  display: block;
  margin-top: 0%;
  text-align: center;
  width: 100%;
  color: #252623;
  overflow: hidden;
}

.headings h1
{
  font-family: 'Reem Kufi', sans-serif;
  font-size: 80px;

}
.headings h2
{
  font-family:'Spectral SC', serif;
  font-size: 60px;

}
