body{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    color: white;
    margin: 2px;
    display: block;
    margin: 8px;
    text-align: center;
}

a:link {
    color: white;
}

a:hover {
    color: white;
    }

    a:active {
        color: white;
    }

.movie {
margin-top: 40px
}

.sound {
margin-top: 40px

}

.comix {

margin-top: 40px

}

.video {

margin-top: 40px

}

.dasfx {

margin-top: 40px
margin-bottom: 40px

}
