body {

background-color: black;

color:white;
font-size:14px;
font-family:'Orbitron', sans-serif;
}


html {
  cursor: url(cursorplanet.png),auto;
}


 img
{
  width: 50%;

}

.navhome ul {
  margin-right: 200px;
  text-align: center;
  background: transparent;
  float: right;
  cursor: url(),auto;
  transition: 0.3s;
  list-style-type: none;
}

.navhome ul li a {
  padding-top: 90px;
  font-family: 'Sigmar One', cursive;
  text-transform:
  color: white;
  font-size: 40px;
  text-decoration: none;
  display: block;
}

.navhome ul li a:hover {
  -webkit-transform: scale(1.2);
}

#popup {
font-family: 'Orbitron', sans-serif;
color: hotpink;
cursor: url(),auto;
text-align: center;
font-size: 10px;
font-style: italic;
margin-top: 40px;
}

#homehover #popup {
  display: none;
}

#homehover:hover #popup {
  display: block;
}

#abouthover #popup {
  display: none;
}

#abouthover:hover #popup {
  display: block;

}

#projectshover #popup {
  display: none;
}

#projectshover:hover #popup {
  display: block;

}

#contacthover #popup {
  display: none;
}

#contacthover:hover #popup {
  display: block;

}

a.effect-box:after,
a.effect-box:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.40s, -webkit-transform 0.40s;
	transition: opacity 0.40s, transform 0.40s;

}

a.effect-box:before {
  border-left: 2px solid;
  border-right: 2px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

a {

  color: white;
}

a:hover {
    color: white;
    text-decoration: none;

  }

a:visited {
  text-decoration: none;
  color: white;
}
