body
{
  font-family: 'Oxygen', sans-serif;
  display: block;
  background-image: url("jj.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.headings
{
  display: block;
  margin-top: 0%;
  text-align: center;
  width: 100%;
  color: #252623;
  font-size: 50px;
  overflow: hidden;
}

.headings h1
{
  font-family: 'Jura', sans-serif;
  font-size: 120px;
  color: white;

}
.headings h2
{
  font-family: 'Oxygen', sans-serif;
  font-size: 60px;
  color: white;

}

a.effect-box:after,
a.effect-box:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;

}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

a:hover {
    color: hotpink;
    text-decoration: none;

  }

  a:visited {
    text-decoration: none;
    color: hotpink;
}

/*source: codepen*/
