body
{
  font-family: 'Muli', sans-serif;
  background-color: #696969;
}

.main
{
  width: 60%;
  margin: 0 auto;
  background-color: white;
}

#filter
{
  opacity: 0;
  transition: all 1.5s linear;
}

#flag
{
  cursor: pointer;
}

.nav-pane
{
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    float: left;
    line-height: 1.8;
    background-color: #bab8b8;
}

.nav-button
{
  float: left;
  width: 33%;
  border-color: #bab8b8;
}

.nav-pane a
{
    color: black;
    text-align: center;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 1.1xqem;
}

.nav-pane a:hover
{
    background-color: #ddd;
    color: black;
}

.nav-pane a.active
{
    color: white;
    background-color: black;
}

.indexinfo
{
  padding-top: 25%;
  text-align: center;
  min-height: 80%;
  padding-bottom: 25%;
}

.indexinfo a
{
  color: black;
  text-decoration: underline;
}

.indexinfo a:hover
{
  color: grey;
  text-decoration: underline;
}

.controlcontainer
{
  text-align: center;
  width: 100%;
  float: left;
  line-height: 1.8;
}

.controlcontainer a
{
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: color 1s ease;
}

.controlcontainer a:hover
{
  text-decoration: none;
  color: grey;
  border-bottom: 1px solid grey;
}

.controlcontainer div
{
  background-color: #C0C0C0;
  float: left;
  width: 25%;
}

svg
{
  display: block;
  margin: 0 auto;
  padding: 1%;
  max-height: 85vh;
}

.comic
{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

.comicdesc
{
  width: 100%;
  padding: 1%;

}

.details
{
  padding: 1%;
  font-size: 15px;
  width: 100%;

}

.details div
{
  display: inline-block;
}

.date
{
  width: 15%;
}

.date img
{
  max-width: 20%;
}

.poster
{
  width: 25%;
}

.poster img
{
  max-width: 9%;
}

.pagenumber
{
  padding: 1%;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 0.5%;
}

.info
{
  border-top: solid 1px black;
  margin: 0 auto;
  padding: 2%;
}

#DubaiFilter
{
  opacity: 0;
  transition: all 1.5s linear;
}

#Flag
{
  cursor: pointer;
}

#Crowd2
{
  opacity: 0;
  transition: all 1.5s linear;
}

#Crowd1
{
  opacity: 1;
  transition: all 1.0s linear;
}

#UAQFilter
{
  opacity: 0;
  transition: all 1.5s linear;
}

#Bubbles2
{
  opacity: 0;
  transition: all 1.5s linear;
}

#Bubbles3
{
  opacity: 0;
  transition: all 1.5s linear;
}
